---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="space-y-8">
    <div>
      <h1 class="text-4xl font-bold mb-4">Your Hosts</h1>
      <div class="text-gray-600 space-y-4">
        <h2 class="text-3xl">About</h2>
        <h2 class="text-3xl">Contact</h2>
      </div>
    </div>
  </div>
</Layout>
