---
import Layout from '../layouts/Layout.astro';
import {Content as AboutUs} from '../components/contact/about_us.md'
import { Mail, PhoneCall, Languages } from '@lucide/astro';
---

<Layout>
  <div class="space-y-8">
    <div>
      <h1>Your Hosts</h1>
      <div class="space-y-4">
        <div class="grid grid-cols-1 md:grid-cols-2 space-y-2">
          <div class="flex items-center space-x-2">
            <PhoneCall />
            <a href="tel:+35679416569">+356 79416569</a>
          </div>
          <div class="flex items-center space-x-2">
            <Mail />
            <a target="_blank" href="mailto:info@seaviewapartmentxlendi.com">info@seaviewapartmentxlendi.com</a>
          </div>
        </div>
        <div class="flex space-x-2">
          <Languages /> <span>English, Maltese, Italian</span>
        </div>
        <AboutUs />
      </div>
    </div>
  </div>
</Layout>
