---
import Welcome from '../components/Welcome.astro';
import PropertyDetails from '../components/PropertyDetails.astro';
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
---

<Layout>
	<h1 class="text text-4xl">{import.meta.env.PUBLIC_DETAILED_NAME}</h1>
	<PhotoGallery />
	<Welcome />
	<PropertyDetails />
</Layout>
