<button popovertarget="cally-popover1" class="btn" id="cally1" style="anchor-name:--cally1">
Pick a date
</button>
<div popover id="cally-popover1" class="dropdown bg-base-100 rounded-box shadow-lg" style="position-anchor:--cally1">
    <calendar-range class="cally" months=2>
        <svg aria-label="Previous" class="fill-current size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.75 19.5 8.25 12l7.5-7.5"></path></svg>
        <svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path></svg>
        <calendar-month></calendar-month>
        <calendar-month offset=1></calendar-month>
    </calendar-range>
</div>
<script>
    import "cally";
    const calendar = document.querySelector('calendar-range');
    const button = document.getElementById('cally1');

    if (calendar && button) {
        calendar.addEventListener('change', () => {
            if (typeof calendar.value === 'string') {
                button.innerText = calendar.value;
            }
        });
    }
</script>
