---
import amenities from "../data/amenities.json";
import PropertyMap from "./PropertyMap.astro";
const totalAmenities = amenities.reduce(
  (acc, category) => acc + category.items.length,
  0
);
---

<div class="p-6 border-b border-gray-200">
  <h3 class="text-xl font-semibold">Where you'll sleep</h3>
  <div class="grid grid-cols-2 gap-4 mt-2">
    <div
      class="card p-2 h-32 bg-cover bg-center rounded-lg text-white flex flex-col justify-end"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://a0.muscache.com/im/pictures/miso/Hosting-559907383709411950/original/ad8e3716-2ab7-4509-b598-859c32b0f87d.jpeg?im_w=1200')"
    >
      <span class="font-bold text-white">Bedroom 1</span>
      <span class="text-white">1 queen bed, 2 sofa beds</span>
    </div>
    <div
      class="card p-2 h-32 bg-cover bg-center rounded-lg text-white flex flex-col justify-end"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://a0.muscache.com/im/pictures/miso/Hosting-559907383709411950/original/fc2f155c-b9d0-43ea-aa91-21c2d1636fc9.jpeg?im_w=720')"
    >
      <span class="font-bold text-white">Bedroom 2</span>
      <span class="text-white">1 double bed or 2 single beds</span>
    </div>
  </div>
</div>
<div class="p-6 border-b border-gray-200">
  <h3 class="text-xl font-semibold">What this place offers</h3>
  <div class="grid grid-cols-2 gap-4 mt-2">
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Sea view
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Shared beach access -- Beachfront
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Kitchen
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Wifi
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Dedicated workspace
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Free parking on premises
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Pets allowed
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> 32 inch HDTV with Netflix
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Free washer -- in unit
    </div>
    <div class="flex items-center">
      <span class="text-blue-500 mr-2">✔</span> Smoke alarm
    </div>
  </div>
  <a href="/about#amenities" class="btn btn-sm btn-outline mt-2"
    >Show all {totalAmenities} amenities</a
  >
</div>

<div class="p-6 border-b border-gray-200">
  <h3 class="text-xl font-semibold">Where you'll be</h3>
  <PropertyMap />
</div>
