---
import 'leaflet/dist/leaflet.css';
---

<div id="map" style="height: 500px;"></div>

<script>
  import L from 'leaflet';
  const map = L.map('map').setView([36.02777962096894, 14.217282968662833], 13);

  // Add OpenStreetMap tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // Add marker at the specified coordinates
  L.marker([36.02777962096894, 14.217282968662833]).addTo(map)
    .bindPopup('4, Palm Court, Triq it-Torri, Xlendi')
    .openPopup();
</script>

<style>
  #map { width: 100%; }
</style>
